.searchBar{
    height: 2.8rem;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search{
    height: 2.4rem;
    width: 100%;
    color: #dcdcdc;
    padding-left: 1rem;
    font-size: 1rem;
    border-color: #E1C638;
    border-radius: 8px;
    background-color: #6E5A92;
}

.search::placeholder{
    color: #ACACAC;
    font-size: 1rem;
    font-style: italic;
}

.search:focus{
    outline: none;
}

.btn-generate{
    height: 2.8rem;
}