@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #252525;
  --secondary: #808080;
  --accent: #597a6f;
  --neutral: #b4b4b4;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;
    --primary: #252525;
    --secondary: #808080;
    --accent: #597a6f;
    --neutral: #b4b4b4;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
